{% include "common/header.twig" %}

<div class="gui-container">
    {% include "common/heading.twig" %}
    <section class="gui-box">
        <h2>Carriers management</h2>
        <p>Here are listed all carriers cooperating on German tracks. You can edit their data here, by clicking pen
            icon, or delete one by clicking on trash. Lock instead of pen means, that the carrier were locked, and their
            workers will not have an access to the system. You can unlock a carrier anytime.</p>
        {% if carriers %}
            <ul class="carrierlist">
                {% for carrier in carriers %}
                    <li class="carrier">
                        {% if carrier.companyLogoPath %}
                            <img class="profile-picture" src="/../img/automated/{{carrier.companyLogoPath}}" alt="">
                        {% else %}
                            <span class="material-icons profile-picture">close</span>
                        {% endif %}
                        <div class="data">
                            <span class="name">{{carrier.companyName}}</span>
                            <span class="company">{{carrier.companyAddress}}</span>
                        </div>
                        {% if carrier.companyActive %}
                            <a class="icon" href="/carriers/edit/{{carrier.companyID}}">
                                <span class="material-icons">edit</span>
                            </a>
                        {% else %}
                            <a class="icon" href="/carriers/edit/{{carrier.companyID}}">
                                <span class="material-icons">lock</span>
                            </a>
                        {% endif %}

                        <a class="icon" href="/carriers/delete/{{carrier.companyID}}">
                            <span class="material-icons">delete</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <section class="gui-box">
        <ul class="gui-box-menu">
            <li>
                <a class="gui-menu-flatcard" href="/carriers/add">
                    <span class="material-icons">dvr</span>
                    <p class="menutext">Add new carrier</p>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </li>
            <li>
                <a class="gui-menu-flatcard" href="/profiles">
                    <span class="material-icons">account_circle</span>
                    <p class="menutext">User management</p>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </li>
            <li>
                <a class="gui-menu-flatcard" href="/panel">
                    <span class="material-icons">keyboard_arrow_left</span>
                    <p class="menutext">Applications</p>
                    <span class="material-icons">apps</span>
                </a>
            </li>

        </ul>
    </section>
    {% include "common/footing.twig" %}
</div>

{% if sideWindow == 'add' %}
    <div class="gui-container">
        <section class="gui-box">
            <h2>Add carrier</h2>
            <form action="" method="post" class="gui-form">
                <h3>Carrier details</h3>
                <label for="fullname">Carrier full name</label>
                <input value="{{formerForm.add_fullname}}" id="fullname" name="add_fullname" type="text"
                       placeholder="Full name" required>
                <label for="address">Carrier full address</label>
                <input value="{{formerForm.address}}"
                       id="address" name="address"
                       type="text"
                       placeholder="Full address"
                       required>
                <label for="nip">Carrier NIP</label>
                <input value="{{formerForm.nip}}"
                       id="nip"
                       name="nip"
                       max="10"
                       type="text"
                       placeholder="NIP"
                       required>
                <label for="regon">Carrier REGON</label>
                <input value="{{formerForm.regon}}" name="regon" id="regon" type="text" maxlength="14"
                       placeholder="REGON" required>
                <label for="uiccode">Carrier UIC Code</label>
                <select name="uiccode" id="uiccode" required>
                    <option disabled>Choose country:</option>
                    <option value="de" selected>DE (Germany)</option>
                    <option value="pl">PL (Poland)</option>
                    <option value="fr">AU (Austria)</option>
                    <option value="fr">CH (Suisse)</option>
                    <option value="ne">NE (Netherlands)</option>
                    <option value="dk">DK (Denmark)</option>
                    <option value="dk">RU (Russia)</option>
                    <option value="it">IT (Italy)</option>
                    <option value="bg">BE (Belgium)</option>
                    <option value="se">SE (Sweden)</option>
                    <option value="ua">UA (Ukraine)</option>
                    <option value="be">BE (Belarus)</option>
                    <option value="UK">UK (Great Britain)</option>
                    <option value="LX">LX (Luxenburg)</option>
                </select>
                <h3>Carrier logo</h3>
                <input class="file" type="file" accept="image/x-png,image/jpeg" name="profilepicker" id="profilepicker"
                       required>
                <label for="profilepicker">Choose a carrier logo</label>
                <div class="rememberme">
                    <input name="active"
                           id="active"
                           type="checkbox">
                    <label for="active">Set carrier as active</label>
                </div>
                <input type="submit" value="Create account" class="submit">
            </form>
        </section>
        {% if good %}
            <section class="gui-box gui-success">
                <p>{{good}}</p>
            </section>
        {% endif %}
        {% if error %}
            <section class="gui-box gui-warning">
                <p>{{error}}</p>
            </section>
        {% endif %}
    </div>
{% elseif sideWindow== 'confirmDelete' %}
    <div class="gui-container">
        <section class="gui-box gui-confirmation">
            <h2>Confirmation</h2>
            <p>Are you sure you want to delete this carrier?</p>
            <div class="gui-buttons">
                <a class="link-as-button accent" href="/carriers/delete/{{deleteID}}/confirmed">Delete</a>
                <a class="link-as-button" href="/carriers/">Cancel</a>
            </div>
        </section>
    </div>
{% endif %}



{% include "common/footer.twig" %}