<section class="gui-box gui-user">
    <img class="profile-picture" src="../img/automated/profilepics/{{account.login}}.jpg" alt="profile picture">
    <div class="gui-user-container">
        <h2>{{account.name}} {{account.surname}}</h2>
        <p>{{account.workStatus}}</p>
        <p>{{account.company}}</p>
    </div>
    <a class="gui-logoff" href="logoff"><span class="material-icons">exit_to_app</span></a>
</section>